<div class="col-md-8 blog-main blog-width">
  <h3 class="pb-1 mb-4 font-italic border-bottom">
    Fresh from the World of Blogs ...
  </h3>

  <%# <%= render @blogs.where(status: "published")%>
  <%= render @blogs %>

  <nav class="blog-pagination">
    <a class="btn btn-outline-primary" href="#">Older</a>
    <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
  </nav>
</div>
