<footer class="mastfoot mt-auto">
  <div class="inner">
    <p><%= session_helper("application") %></p>
    <p><%= copyright_generator%>
     | <%= link_to "About", about_path%> | <%= link_to "Contact", contact_path%>
    </p>
  </div>
</footer>
