<footer class="blog-footer">
  <p><%= copyright_generator%> | <%= link_to "About", about_path%> | <%= link_to "Contact", contact_path%></p>
  <p><%= session_helper("blog") %></p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>
