<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p><%= copyright_generator%> | <%= link_to "About", about_path%> | <%= link_to "Website Info", websiteInfo_path%></p>
    <p><%= session_helper("application") %></p>
  </div>
</footer>
