<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <main role="main" class="inner cover" style="text-align: center">
    <h1 class="cover-heading">About Me</h1>

    <p class="lead btn badge badge-warning" >Work Experience</p>
    <p class="lead">Product Engineer (Full Stack Developer), Payabbhi, Kolkata, India
                <br>Senior Engineer, Qulacomm India, Hyderabad, India
                <br>Engineer, Interra Systems India, Noida, India</p>

    <p class="lead btn badge badge-warning">Education</p>
    <p class="lead">M.Tech., Indian Institute of Technology (IIT), Delhi, India
                <br>B.E., Jadavpur University, Kolkata, India</p>
  </main>
</div>
