<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column card" style="background-color: #ffffdb; opacity: 0.9">
    <main role="main" class="inner cover" style="text-align: left">
    <h1 class="cover-heading text-danger" style="text-align: center">Contact Me</h1>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <h5><p class="lead btn badge badge-info fa fa-linkedin"><a href="https://www.linkedin.com/in/soumya-s-4247a777/">  Linkedin Profile</a></p></h5>
        <h5><p class="lead btn badge badge-info fa fa-github"><a href="https://github.com/soumya74">  Github Profile</a></p></h5>
        <h5><p class="lead btn badge badge-info fa fa-facebook"><a href="https://www.facebook.com/soumya74">  Facebook Profile</a></p></h5>
        <h5><p class="lead btn badge badge-info fa fa-google" ><a href="mailto:soumya74@gmail.com?subject=PortfolioContent">  Drop an Email</a></p></h5>
        <h5><p class="lead btn badge badge-warning" style="text-align: left">Call :<br><br>+91 9717125247 / +91 9433613573<br><br>Home :<br><br>167/1, SHKB Sarani, RB House, Flat 3,<br>Dumdum, Kolkata 700074</p></h5>
      </div>
      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3682.941602812379!2d88.39983161486107!3d22.61865578515911!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f89e07509d559f%3A0x2ed436d96c642488!2sR.B.House%2C%20SHKB%20Sarani%2C%20Bahiragath%20Colony%2C%20Jawpur%2C%20South%20Dum%20Dum%2C%20West%20Bengal%20700074!5e0!3m2!1sen!2sin!4v1570352043680!5m2!1sen!2sin" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>
