<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <main role="main" class="inner cover" style="text-align: center">
    <h1 class="cover-heading">Welcome</h1>
    <p class="lead">Have a look into this great new idea of Portfolio based Blog creation site. Here you will be able to create blogs on any topic you want, and at the same time you will be able to showcase your portfolio to the reader.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">Create Own Portfolio NOW</a>
    </p>
  </main>
</div>
