<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="cover-container d-flex w-100 h-150 p-3 mx-auto flex-column card" style="background-color: #ffffdb; opacity: 1">
    <main role="main" class="inner cover" style="text-align: left">
    <h2 class="cover-heading text-danger" style="text-align: center">Website Details</h2>
    <hr>
    <div class="card" style="background-color: #EDE3FE; opacity: 0.90; width: 49rem;">
      <div class="card-body text-primary">
        <!-- Collapse buttons -->
          <div>
            <ul class="nav nav-tabs" style="text-shadow: none;">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="collapse" data-target="#uniqueFeatures"
                aria-expanded="false" aria-controls="uniqueFeatures"><b>Unique Features</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" data-toggle="collapse" data-target="#technologiesUsed"
                aria-expanded="false" aria-controls="technologiesUsed"><b>Technologies Used</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" data-toggle="collapse" data-target="#upcomingFeatures"
                aria-expanded="false" aria-controls="upcomingFeatures"><b>Upcoming Features</b></a>
              </li>
            </ul>
          </div>
          <!--/ Collapse buttons -->
          <!-- Collapsible content -->
          <div class="row" style="text-shadow: none;" id="myGroup" style="width: 100%;">
              <div class="collapse show" id="uniqueFeatures" data-parent="#myGroup">
                <div class="card card-body">
                  <ul>
                    <li>Personal Portfolio Website :</li>
                    <ul class="text-info" style="text-shadow: none;">
                      <li>Me as an <b>Admin</b> of the website, can login using my email, and create blogs & portfolios. These data gets stored in the attached database.</li>
                      <li>Any other User can also sign-up and publish their commments and provide feedbacks in blogs published by the owner.</li>
                    </ul>
                    <li>Open Source :</li>
                    <ul class="text-info" style="text-shadow: none;">
                      <li>The entire code is Open Source, and anyone opting to refer the code, can visit my GitHub account.</li>
                      <li>During building this website, has published one Basic <b>Ruby Gem</b>. Code of the same can be found in my <b>GitHub account</b> as well.</li>
                    </ul>
                  </ul>
                  <div class="alert alert-primary">
                    This website is built entirely from Scratch. Full codebase is available in my <b><a href="https://github.com/soumya74/rails_portal" class="alert-link">GitHub account</b></a>
                  </div>
                </div>
              </div>
              <div class="collapse" id="technologiesUsed" data-parent="#myGroup" style="width: 100%;">
                <div class="card card-body">
                  <ul>
                    <li>Backend : </li>
                    <ul class="text-info" style="text-shadow: none;">
                      <li>Ruby on Rails</li>
                    </ul>
                    <li>Frontend : </li>
                    <ul class="text-info" style="text-shadow: none;">
                      <li>Ruby on Rails, HTML, Javascript, CSS (Bootstrap 4.0)</li>
                    </ul>
                    <li>Database : </li>
                    <ul class="text-info" style="text-shadow: none;">
                      <li>Postgress</li>
                    </ul>
                    <li>Deployment Platform : </li>
                    <ul class="text-info" style="text-shadow: none;">
                      <li>Heroku, GitHub</li>
                    </ul>
                  </ul>
                </div>
              </div>
              <div class="collapse" id="upcomingFeatures" data-parent="#myGroup" style="width: 100%;">
                <div class="card card-body">
                  <ul>
                    <li>Logged-in user, will be able to comment in my blogs.</li>
                    <li>On succesful login, welcome email will be sent to corresponding email-address</li>
                    <li>Forgot Password feature will be available.</li>
                  </ul>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
